<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="volunteer.upay.com.upay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/upay_app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@mipmap/upay_app_logo"
        android:roundIcon="@mipmap/upay_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Network.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Network.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.SignInActivity"
            android:label="Welcome to Upay" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CenterActivity"
            android:label="Centers"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.VolunteerActivity"
            android:label="Volunteers" />
        <activity
            android:name=".Activities.StudentActivity"
            android:label="Students" />
        <activity
            android:name=".Activities.ImpContactsActivity"
            android:label="Contact Details" />
        <activity
            android:name=".Activities.MyCenterActivity"
            android:label="Sohna Road Center"
            android:parentActivityName=".Activities.CenterActivity" />
        <activity
            android:name=".Activities.AddStudent"
            android:label="Add New Student"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.AddVolunteer"
            android:label="Add New Volunteer" />
        <activity
            android:name=".Activities.VolunteerDetails"
            android:label="Volunteer Details" />
        <activity
            android:name=".Activities.StudentDetails"
            android:label="Student Details" />
        <activity
            android:name=".Activities.ZonalDetails"
            android:label="@string/title_activity_zonal_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ChatActivity"
            android:label="Center Chat" />
        <activity android:name=".Activities.WebviewActivity" />
        <activity android:name=".Activities.StudentMarksDetails"
            android:label="Student Report"/>
        <activity android:name=".Activities.AddStudentMarks"
            android:label="Add Student Marks"/>
        <activity android:name=".Activities.AttendanceActivity"
            android:label="Attendance">
        </activity>
    </application>

</manifest>