<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="volunteer.upay.com.upay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/upay_app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@mipmap/upay_app_logo"
        android:roundIcon="@mipmap/upay_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AddStudentsActivity" />
        <activity android:name=".activities.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".network.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".network.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.SignInActivity"
            android:label="Welcome to Upay">

        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CenterActivity"
            android:label="Centers"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.VolunteerActivity"
            android:label="Volunteers" />
        <activity
            android:name=".activities.StudentActivity"
            android:label="Students" />
        <activity
            android:name=".activities.ImpContactsActivity"
            android:label="Contact Details" />
        <activity
            android:name=".activities.MyCenterActivity"
            android:label="Sohna Road Center"
            android:parentActivityName=".activities.CenterActivity" />
        <activity
            android:name=".activities.AddStudent"
            android:label="Add New Student"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.AddVolunteer"
            android:label="Add New Volunteer" />
        <activity
            android:name=".activities.VolunteerDetails"
            android:label="Volunteer Details" />
        <activity
            android:name=".activities.StudentDetails"
            android:label="Student Details" />
        <activity
            android:name=".activities.ZonalDetails"
            android:label="@string/title_activity_zonal_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChatActivity"
            android:label="Center Chat" />
        <activity android:name=".activities.WebviewActivity" />
        <activity
            android:name=".activities.StudentMarksDetails"
            android:label="Student Report" />
        <activity
            android:name=".activities.AddStudentMarks"
            android:label="Add Student Marks" />
        <activity
            android:name=".activities.VolunteerLogFormActivity"
            android:label="Attendance" />
        <activity
            android:name=".activities.VolunteerLogHistoryActivity"
            android:label="History" />
        <activity
            android:name=".activities.StudentAttendanceActivity"
            android:label="Student Attendance" />
    </application>

</manifest>